/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
}

body {
}

p {
}

li {
}

a {
}

/* layout styles */
.page_container {
}

.header {
}

/* block styles */
.nav_bar {
}
